h3{
    color: rgb(29, 28, 27);
    
}
h1{
    font-style: italic;
    font-weight: 1100;
    
    background-color: #0facd3;
}
.background{
    background-image: url("pexels-photo-531880.jpeg");
    background-repeat: no-repeat;
    background-size: 45000px;
    background-position: top;
    background-attachment: scroll;
    height: 5000px;
    width: 20000px;

}